[submodule "signals"]
	path = signals
	url = https://github.com/MotionSpell/signals.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "lldash-srd-packager"]
	path = lldash-srd-packager
	url = https://github.com/MotionSpell/lldash-srd-packager.git
[submodule "lldash-playout"]
	path = lldash-playout
	url = https://github.com/MotionSpell/lldash-playout.git
[submodule "lldash-relay"]
	path = lldash-relay
	url = https://github.com/MotionSpell/lldash-relay.git
[submodule "cwipc"]
	path = cwipc
	url = https://github.com/cwi-dis/cwipc.git
